<html >
    <head>
        <link href="css/ovr.css" rel="stylesheet">
            <Title>Search Overall</Title>    
    </head>
    <body>


        <div class="container">
            <div class="header">
                    <div class="logo"></div>
                    <input class="searchbox" type="text"><!-- input new Search -->                                   
            </div> <div class="insearch"><!-- Search input result --><p>Search OVR</p></div> 
            
                <div class="line"><p class="text">Total result:</p></div>
            

            <div class="SearchOVR">
                <div class="row">
                    {% for doc in hits %}
                        <div class="card">
                            <a href="/Front-end/Result.html" class = "Albumcover"><!--AlbumPicture--></a>
                            <p class="songN"><!-- Song -->{{ doc['Name'] }}</p>
                            <p class="ArtN"><!-- ArtistName -->{{ doc['Artist'] }}</p>
                        </div>
                {% endfor %} 
                </div>
                
                    <div class="Pages">
                        <nav aria-label="Page navigation">
                            <ul class="pageN">
                                {% if page_no!=1 %}
                                <p class="page-item"><a href="?keyword={{ keyword }}&page=1">First</a></p>
                                <p class="page-item">
                                    <a href="?keyword={{ keyword }}&page={{ page_no-1 }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </p>
                                <p class="page-item"><a href="?keyword={{ keyword }}&page={{ page_no-1 }}">{{ page_no-1 }}</a></p> 
                                {% endif %}
                                {% if page_total!=1 %}
                                <p class="page-item active"><a class="page-pnk " href="#">{{ page_no }}</a></p>
                                {% endif %}
                                {% if page_no<page_total %}
                                <p class="page-item"><a href="?keyword={{ keyword }}&page={{ page_no+1 }}">{{ page_no+1 }}</a></p>
                                <p class="page-item">
                                    <a href="?keyword={{ keyword }}&page={{ page_no+1 }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </p>
                                <p class="page-item"><a href="?keyword={{ keyword }}&page={{ page_total }}">Last</a></p>
                                {% endif %}
                            </ul>
                        </nav>    
                    </div>
            </div>
        </div>
    </body>
</html>