<html >
    <head>
        <link href="/Front-end/css/index.css" rel="stylesheet">
        <!-- {{ url_for('static', filename='index.css') }} -->
            <Title>Search Overall</Title>    
    </head>
    <body>


        <div class="container">
            <div class="header">
                    <a href="/" class="logo"></a>
                    <form method="GET" action="{{ url_for('search') }}">
                        <input class="searchbox" type="text" name="keyword"><!-- input new Search -->
                    </form>                                   
            </div> <div class="insearch"><!-- Search input result -->{{ keyword}}</div> 
            
                <div class="line"><p class="text">Total result: {{ total_song }}</p></div>
            

            <div class="SearchOVR">
                <div class="row">
                    {% for doc in hits %}
                        <div class="card">
                            <a href="/song/{{doc['Name']}}" class = "Albumcover"><!--AlbumPicture--><img class="fitin" src=" {{ doc['Song Image Link']}}"></a>
                            <p class="songN"><!-- Song -->{{ doc['Name'] }}</p>
                            <p class="ArtN"><!-- ArtistName -->{{ doc['Artist'] }}</p>
                        </div>
                {% endfor %} 
                </div>
                {% if page_total > 1 %}
                <div class="Pages">
                    <nav aria-label="Page navigation">
                        <ul class="pageN">
                            {% if page_no!=1 %}
                            <p class="page-item"><a href="?keyword={{ keyword }}&page=1">First</a></p>
                            <p class="page-item">
                                <a href="?keyword={{ keyword }}&page={{ page_no-1 }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                </a>
                            </p>
                            <p class="page-item"><a href="?keyword={{ keyword }}&page={{ page_no-1 }}">{{ page_no-1 }}</a></p> 
                            {% endif %}
                            {% if page_total!=1 %}
                            <p class="page-item active"><a class="page-pnk " href="#">{{ page_no }}</a></p>
                            {% endif %}
                            {% if page_no<page_total %}
                            <p class="page-item"><a href="?keyword={{ keyword }}&page={{ page_no+1 }}">{{ page_no+1 }}</a></p>
                            <p class="page-item">
                                <a href="?keyword={{ keyword }}&page={{ page_no+1 }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                </a>
                            </p>
                            <p class="page-item"><a href="?keyword={{ keyword }}&page={{ page_total }}">Last</a></p>
                            {% endif %}
                        </ul>
                    </nav>    
                </div>
                {% endif %}
            </div>
        </div>
    </body>
</html>